@import "base.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    min-width: 600px;
}

body {
    font-size: 16px;
    margin: 0px auto 0px auto;
}

div#header {
    height: 100%;
    margin: 0;
    text-align: center;
}

div#header a {
    text-decoration: none;
}

div#header h1 {
    font-size: 50px;
    font-size: calc(15px + 2vw);
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 15px;
    margin-bottom: calc(3px + 1vw);
    padding-top: 25px;
    padding-top: calc(10px + 1vw);
}

div#header h2 {
    font-size: 30px;
    font-size: calc(10px + 1.5vw);
    font-weight: normal;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-bottom: calc(10px + 1.5vw);
}

div#twoplustwo {
    color: white;
    font-size: 12px;
    padding-top: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

div #navigation {
    padding-top: 10px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 25px;
}

div #navigation a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

div#content {
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 800px;
}

div#content h1 {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
}

div#content .title {
    margin-top: 20px;
    font-size: 36px;
}

div.info {
    font-size: 14px;
    font-style: italic;
    margin-top: -22px;
}

div#content, div#content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

div#content a {
    text-decoration: none;
}

div#content a:hover {
    text-decoration: underline;
}

div#footer {
    font-size: 12px;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#footer a {
  font-weight: bold;
  text-decoration: none;
}


/* sticky footer */

html, body {
    height: 100%;
}

div#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px;
}

div#footer, div#push {
    clear: both;
    height: 15px;
}

/**** Colors *****/

body {
    background-color: #FDF6E3;
}

div#header {
    background: linear-gradient(to right,#19111f 0%,#2c1e37 100%);
}

div#header h1, div#header h2 {
    color: white;
}

div#logo a {
    color: #FFFFFF;
}

div #navigation {
    background: grey;
    background-color: #323232;
}

div #navigation a {
    color: #d1cddc;
}

div #navigation a:hover {
  color: white;
}

div#content {
    color: #073642;
}

div#content a {
    color: #004b99;
}

div#content h1.title {
    color: #6e618d;
}

div#content a.title:hover {
    /* color: #004b99; */
    color: #6e618d;
}

div#footer {
    color: #999999;
    background-color: #323232;
}

div#footer a {
  color: #ffffff;
}

div.info {
    color: #555;
}